.TodoItem {
  width: 500px;
  background-color: #fafafa;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}

.TodoItem-p {
  max-width: 500px;
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}

.btndelete {
  margin-right: 10px;
  position: relative;
  height: 48px;
  width: 48px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.btndelete:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.btncheck {
  margin-left: 10px;
  position: relative;
  height: 44px;
  width: 44px;
  cursor: pointer;
}

.btncheck:hover {
  transform: scale(1.15, 1.15);
}
