.app{
  border-radius: 5%;
  margin-top: 40px;
  margin-bottom: 40px;
  
  background: #C89595;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}