body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: #DDBEBE;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 24px;
  min-height: 100vh;
}